<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="app.stylus" rel="stylesheet" type="text/css" />
    <title>HTM</title>
  </head>
  <body>
    <script type="text/x-template" id="item-template">
      <li>
        <div class="tree-label">
          <span v-on:click="!model.children.length && clickHandle($event)">{{ model.name }}</span>
          <span v-on:click="toggle(model)" v-show="model.children.length">[{{open ? ' - ' : ' + '}}]</span>
        </div>

        <ul v-show="open" v-if="model.children">
          <item v-for="item in model.children" :model="item"></item>
        </ul>
      </li>
    </script>

    <div class="app">
      <div class="app-left">

        <div id="tree">
          <h1>{{ message }}</h1>
          <ul>
            <item v-for="item in list" :model="item"></item>  
          </ul>
        </div>

      </div>
      <div class="app-right" id="right">
        <div style="display: flex; margin-bottom: 2em;">
          <h3 style="color: blue">Predict</h3>
          <h3 style="color: red; margin-left: 2em;">Actual</h3>
        </div>

        <div class="box1">
          <canvas id="chart1" height="400"></canvas>          
        </div>
        <div class="box2" style="height: 70px">
          <canvas id="chart2" height="70"></canvas>
          <div class="leftBg"></div>
          <div class="rightBg"></div>
          <div class="bar" draggable="true"></div>
          <div class="drag leftDrag" draggable="true"></div>
          <div class="drag rightDrag" draggable="true"></div>
        </div>
      </div>
    </div>

    <script src="./vue.min.js"></script>
    <script src="./d3.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>